{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';

    // Game-service communication
    $(window).on('message', function(event) {

      //Note that messages from all origins are accepted
      //Get data from sent message
      let message = event.originalEvent.data;
      
      // Set game specific configuration
      if (message.messageType === 'SETTING') {
        $("#iframe").width(message.options.width)
        $("#iframe").height(message.options.height)
      }

      // Send submitted score to backend
      if (message.messageType === 'SCORE' && confirm("Are you sure you want to submit your score and reset the game?")){ 
        message.gameId = {{ game.id }}
        $.ajax({
          url:'submit-score',
          data: message,
          dataType: 'json'
        });

        window.location.reload()
        
      }
  
      // Send save data to backend
      if (message.messageType === 'SAVE' && confirm('Are you sure you want to save your game? If you have saved the game before, it will be overwritten.')){ 
        message.gameId = {{ game.id }}

        message.gameState = JSON.stringify(message.gameState)

        $.ajax({
          url:'save-game',
          data: message
        });

        alert("Game saved!")
      }

      // Send error message to game when saving/loading (not implemented)
      if (message.messageType === 'LOAD_REQUEST' && confirm('Are you sure you want to load the most recent save over your current game?')) {

        let saved_game = "{{ saved_game }}"
        let game_state = "{{ saved_game.game_state|safe|escapejs }}"
        let window = $('#iframe')[0].contentWindow
        let message

        if(!game_state){
          message = {messageType: 'ERROR', info: "Save file not found" }
        }
        else{
          game_state = JSON.parse(game_state)
          message = {messageType: 'LOAD', gameState: game_state }
        }
      
        window.postMessage(message, '*')  
      }

    });
  });
</script>
{% endblock %}

{% block content %}
<div class="container" style="min-height: 85vh;">

  <!-- Render game information -->
  <div class="row px-4">
    <h3>{{ game.title }}</h3><br/>
  </div>
  <div class="row px-4">
    <p>by {{ game.publisher.username }}</p>
  </div>
  <div class="row px-4">
    <p>Game description: {{ game.description }}</p>
  </div>

  <!-- Not owned: Hide game and show buy button -->
  {% if game.publisher != user and not purchased_game %}
    <div class="row px-4">
      <a href="{% url 'games:purchase' game_id=game.pk %}" title="purchase" class="btn btn-primary">
        <span>Purchase game!</span>
      </a>
    </div>

  <!-- Owned: Show game -->
  {% elif user.is_authenticated and purchased_game or game.publisher == user %}
    <div class="row pt-2 pl-4 w-100">
      <iframe id="iframe" src="{{ game.url }}"></iframe>
    </div>
    
  {% endif %}

  <!-- Developer: Show developer options -->
  {% if user.is_authenticated and game.publisher == user %}
    <div>
      <a href="{% url 'games:update' pk=game.pk %}" title="update" class="btn btn-simple">
        <span class="fa fa-pencil" aria-hidden="true"></span>
        <span class="icon-label">Edit game</span>
      </a>
      <a href="{% url 'games:delete' pk=game.pk %}" title="delete" class="btn btn-simple">
        <span class="fa fa-remove text-danger" aria-hidden="true"></span>
        <span class="text-danger icon-label">Delete</span>
      </a>
      <a href="{% url 'games:statistics' pk=game.pk %}" title="update" class="btn btn-simple">
        <span class="fa fa-table" aria-hidden="true"></span>
        <span class="icon-label">View sales data</span>
      </a>
    </div>
  {% endif %}

  <!-- Global top 5 high scores -->
  <div class="row px-4">
    <h3 class="mb-3 mt-5">Top 5 Scores</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Player</th>
          <th scope="col">Score</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for score in top_scores %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{score.player}}</td>
          <td>{{score.score}}</td>
          <td>{{score.play_time}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- All personal high scores -->
  <div class="row px-4">
    <h3 class="mb-3 mt-5">Own Scores</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Player</th>
          <th scope="col">Score</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for score in own_scores %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{score.player}}</td>
          <td>{{score.score}}</td>
          <td>{{score.play_time}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}