{% extends "base.html" %}
{% load static %}

{# at the terminal, run pip install django-bootstrap4 #}
{% load bootstrap4 %}

{% block content %}
<div>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Welcome!</h1>
      <p class="lead text-muted">This is an online game store for JavaScript games. Purchase games or upload your own!</p>
      <p>
        <a href="#browse" class="btn btn-primary my-2">Browse games</a>
        <a href="#" class="btn btn-secondary my-2">High scores</a>
      </p>
    </div>
  </section>

  <div class="album py-5" id="browse">
    <div class="container">
      <div class="row">
        {% for game in game_list %}
        <a class="col-md-4 popout" href="/games/{{ game.id }}" style="text-decoration: none; color: inherit;">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% static 'gamestore/img/placeholder.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class="card-text">{{ game.title }}</h4>
                </div>
                <div>
                  <p class="text-muted">{{ game.price }} eur</p>
                </div>
              </div>
              <p class="card-text">{{ game.info_text }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}