{% extends "gamestore/game_base.html" %}
{% load bootstrap4 %}

{% block pregame %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Games</h1>
    <p class="lead text-muted">This is where you can find all the games that you have purchased!</p>
    <p>
      <a href="{% url 'games:home' %}" class="btn btn-secondary my-2">Browse games</a>
      <a href="#" class="btn btn-secondary my-2">High scores</a>
      {% if user.is_authenticated %}
      <a class="btn btn-primary my-2" href="{% url 'games:purchased' %}" class="btn btn-simple">My games</a>
      <a class="btn btn-secondary my-2" href="{% url 'games:inventory' %}" class="btn btn-simple">Inventory</a>
      {% endif %}
    </p>
  </div>
</section>
{% endblock %}

{% block game_content %}

<div class="album py-5" id="browse">
  <div class="container">
    <div class="row">
      {% for purchase in purchase_list %}
        {% include "gamestore/purchased_game_card.html" %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
