{% load static %}
{% static "" as baseUrl %}

{% if purchase.purchase_complete %}
<a class="col-md-4 popout" href="{% url 'games:game' pk=purchase.game.pk %}" style="text-decoration: none; color: inherit;">
  <div class="card mb-4 box-shadow">
    <img class="card-img-top" src="{{baseUrl}}gamestore/img/{{purchase.game.category}}.png" alt="Card image cap">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div>
          <h4 class="card-text">{{ purchase.game.title }}</h4>
        </div>
        <div>
          <p class="text-muted">{{ purchase.game.price }} €</p>
        </div>
      </div>
      <p style="color: grey">
        Purchased: {{ purchase.purchased_time }}
      </p>
      <div class="card-text" style="color: grey">
        Category: {{ purchase.game.category }}
      </div>
    </div>
  </div>
</a>
{% endif %}
