html {
  scroll-behavior: smooth;
}

.mycontent {
  padding-top: 30px;
}

.popout {
  transition: transform .2s;
}

.popout:hover {
  transform: scale(1.05)
}

.py-5 {
  padding-top: 0!important
}

ul {
  padding-left: 0
}

.game_card_image {
  margin: 2;
  height: 20%;
  width: 20%;
}